body {
    font-family: Verdana;
    background-color: azure;
}

h2 {
    color: rgb(202, 63, 63);
}

div {
    border: 5px solid black;
    width: 70%;
    background-color: orange;
    border-radius: 2em;
    padding: 1em;
    color: white;
    margin-bottom: 1em;
}